## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Caravelas,BR,-17.7125,-39.2481,75.25,87,64,2.66,broken clouds
1,1,Derzhavinsk,KZ,51.1000,66.3167,42.71,44,95,13.33,overcast clouds
2,2,Sancti Spiritus,CU,21.9297,-79.4425,82.49,66,33,6.73,light rain
3,3,Yining,CN,29.0361,114.5636,71.13,80,100,0.83,overcast clouds
4,4,Pervoye Maya,RU,56.1640,44.7196,39.31,76,47,7.87,scattered clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
temp_filtered_city_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp)&
                                        (city_data_df["Max Temp"] >= min_temp)]
temp_filtered_city_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Caravelas,BR,-17.7125,-39.2481,75.25,87,64,2.66,broken clouds
2,2,Sancti Spiritus,CU,21.9297,-79.4425,82.49,66,33,6.73,light rain
3,3,Yining,CN,29.0361,114.5636,71.13,80,100,0.83,overcast clouds
7,7,Boda,CF,4.3189,17.4695,71.85,95,99,2.04,light rain
8,8,Banikoara,BJ,11.2985,2.4386,85.17,54,98,7.65,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
temp_filtered_city_df.count()

City_ID                266
City                   266
Country                266
Lat                    266
Lng                    266
Max Temp               266
Humidity               266
Cloudiness             266
Wind Speed             266
Current Description    266
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
temp_filtered_city_df = temp_filtered_city_df.dropna()

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = temp_filtered_city_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Caravelas,BR,75.25,broken clouds,-17.7125,-39.2481,
2,Sancti Spiritus,CU,82.49,light rain,21.9297,-79.4425,
3,Yining,CN,71.13,overcast clouds,29.0361,114.5636,
7,Boda,CF,71.85,light rain,4.3189,17.4695,
8,Banikoara,BJ,85.17,overcast clouds,11.2985,2.4386,
9,Hithadhoo,MV,83.39,broken clouds,-0.6000,73.0833,
12,Matara,LK,79.50,overcast clouds,5.9485,80.5353,
13,Mahebourg,MU,73.69,few clouds,-20.4081,57.7000,
14,Vila Velha,BR,76.95,broken clouds,-20.3297,-40.2925,
15,Amapa,BR,73.36,overcast clouds,1.0000,-52.0000,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")

hotel_df.replace("", nan_value, inplace = True)

hotel_df.dropna(subset = ["Hotel Name"], inplace = True)

hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Caravelas,BR,75.25,broken clouds,-17.7125,-39.2481,Pousada dos Navegantes
2,Sancti Spiritus,CU,82.49,light rain,21.9297,-79.4425,Hostal El Parque
3,Yining,CN,71.13,overcast clouds,29.0361,114.5636,Xiushui Hotel
8,Banikoara,BJ,85.17,overcast clouds,11.2985,2.4386,Hôtel de l'UCom CVPC
9,Hithadhoo,MV,83.39,broken clouds,-0.6000,73.0833,Scoop Guest House
12,Matara,LK,79.50,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
13,Mahebourg,MU,73.69,few clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
14,Vila Velha,BR,76.95,broken clouds,-20.3297,-40.2925,Hotel Vitória Palace
16,Maceio,BR,78.24,clear sky,-9.6658,-35.7353,Hotel Ponta Verde Maceió
19,Labelle,US,88.03,clear sky,26.7617,-81.4384,Port LaBelle Inn

In [11]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>

</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))